@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 14px;
    scroll-behavior: smooth;
}

/* banner */
.banner {
    height: 40px;
    padding: 8px;
    background: linear-gradient(to right, #8e51ff, #ede9fe);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner a {
    height: 28px;
    width: 125px;
    text-decoration: none;
    color: #7f22fe;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
    padding: 4px 12px;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 96px;
    z-index: 100;
    background: white;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px) saturate(1.8);
    -webkit-backdrop-filter: blur(12px) saturate(1.8);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav_links li {
    list-style: none;
    position: relative;
}

.nav_links a {
    text-decoration: none;
    color: #364153e4;
}

.nav_links a:hover {
    color: #101828;
}

.sign-up {
    width: 116px;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient(to right, #4f39f6, #8a7dff);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sign-up:hover {
    opacity: .90;
}

/* Products dropdown-menu */
.dropdown-menu {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 530px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.2s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.title {
    color: #666;
    margin-bottom: 15px;
}

.item {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.item:hover {
    background: #f0f0f088;
}

.icon img {
    transition: 0.3s;
}

.item:hover .icon>img {
    transform: scale(1.15);
}

.icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #4f39f6, #8a7dff);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

#page-png {
    margin-left: 5px;
}

.subtitle {
    color: #364153;
    font-weight: medium;
}

.subtext {
    font-size: 12px;
    color: #6a7282;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.dropdown>a svg {
    position: relative;
    top: 5px;
    transition: 0.2s ease;
    margin-top: -5px;
}

.dropdown:hover a svg {
    transform: rotate(180deg);
}

.main-section {
    padding: 0 16px;
}

/* Hero Section */
.bg-svg {
    position: absolute;
    z-index: -1;
    inset: inherit;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

/* User Badge */
.users {
    width: 315px;
    height: 42px;
    border: 1px solid #e0e7ff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px 12px;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -8px;
    object-fit: cover;
}

.avatar #img2, #img3 {
    margin-left: -10px;
}

#badge-txt {
    font-size: 14px;
    color: #4a5565;
    margin-left: 5px;
}

/* Headline */
.headline {
    font-weight: 600;
    height: 144px;
    width: 672px;
    font-size: 64px;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #000, #748298);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline span {
    background: linear-gradient(to bottom, #a3b3ff, #4f39f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-headline {
    color: #45556c;
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
}

.cta-btn {
    width: 217px;
    height: 44px;
    border-radius: 25px;
    background: linear-gradient(to right, #4f39f6, #8a7dff);
    padding: 12px 32px;
    margin-top: 32px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    cursor: pointer;
}

/* npm install cmd copy btn */
.box-wrapper {
    width: 270px;
    height: 45px;
    margin: 32px;
    padding: 1px;
    border-radius: 7px;
    background: linear-gradient(to right, #4f39f689, #4f39f668);
}

.npm-box {
    height: 44px;
    width: 268px;
    padding: 12px 16px;
    background: white;
    color: #99a1af;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 7px;
}

.copy-btn {
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Trusted by Brands */
.trustedBrand-txt {
    color: #45556c;
    margin-top: 56px;
    padding: 24px 0;
}

.logo-container {
    height: 60px;
    width: 896px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 43px;
    padding: 16px 0;
}

/* What We Do Section */
.WWD-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    margin-top: 80px;
}

.WWD-img {
    position: relative;
    height: 384px;
    width: 384px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(79, 57, 246, 0.4);
    overflow: hidden;
}

#WWW-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* users community  */
.users-community {
    position: absolute;
    bottom: 100px;
    left: 20px;  
    z-index: 1;
    height: 72px;
    width: 300px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.users-community img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.users-community #user2, #user3 {
    margin-left: -24px;
}

.fifty {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -18px;
    background: #4f39f6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.cta-text {
    color: #1d293d;
    font-weight: 500;
}